:root {
  --black: hsl(0, 0%, 15%);
  --gray: hsl(0, 0%, 40%);
  --accent: #3D93F6;
  --normal-size: 19px;
  --small-size: 14px;
  --tiny-size: 11px;
  --block-background: hsl(0, 0%, 96%);
  --output-background: hsl(120, 100%, 94%);
  --menu-width: 224px;
  --max-body-width: 960px;
  --content-left-margin: 62px;
}

.menu-level-2 {
  margin-left: 1.2rem;
}

.bottom-nav {
  color: var(--gray);
  margin-top: 2em;
  font-size: var(--small-size);
}

.bottom-nav a {
  color: var(--gray) !important;
}

.bottom-nav .menu-level-2 {
  margin-left: 0em;
}

.books-menu-content {
  max-height: 0;
  overflow: hidden;
  font-size: var(--small-size);
}

.books-list-module {
  display: block;
  font-size: var(--tiny-size);
  margin: 0 0;
  text-align: right;
}

@media only screen and (min-width: calc(720px)) {
  .books-container {
    display: flex;
  }

  .books-menu {
    flex: 0 0 var(--menu-width);
  }

  .books-menu label {
    display: none !important;
  }

  .books-menu-content {
    max-height: 100%;
  }
}

.books-title {
  display: inline-block;
  margin-bottom: 0px;
}

.books-subtitle {
  color: var(--gray);
  display: inline-block;
  font-style: italic;
  margin-bottom: 1.4rem;
}

.books-menu {
  margin-top: 0rem;
}

.books-menu label {
  cursor: pointer;
  display:inline-block;
  font-size: 32px;
  margin-right: 16px;
}

.books-menu label {
}

input#menu {
  display: none;
}

.books-menu li {
  list-style: none;
  margin: 3px 0;
}

input:checked ~ .books-menu-content {
    max-height: 100%;
}

.books-menu a {
  color: var(--gray) !important;
}

@media only screen and (min-width: 900px) {
  .books-content {
    margin-left: var(--content-left-margin);
    display: flex;
    flex-direction: column;
    /* If the text is placed too low, users get a scroll bar even for a near empty page. */
    min-height: 92vh;
  }
}

.books-title {
  font-size: 1.4rem;
  color: var(--gray);
}

.subtitle {
  color: var(--gray);
  font-style: italic;
  margin-bottom: 50px;
}

table {
  font-size: var(--small-size);
  margin-left: auto;
  margin-right: auto;
}

.subfigures {
  font-size: var(--small-size);
}

html {
  font-color: var(--black);
  font-size: var(--normal-size);
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: var(--black);
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: var(--normal-size);
  line-height: 1.7;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-body-width);
}

a {
  color: var(--accent);
  text-decoration: none;
}

/* Source: https://stackoverflow.com/questions/1899772. */
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 4px 0 5px;
}

p {
  margin: 0.6em 0;
}

img {
  max-width: 100%;
  /* Center images without a caption or label. */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--black);
  line-height: 125%;
  margin-top: 1.5em;
  font-weight: normal;
}

h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5em;

}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 2em;
  border-left: 0.3em #EEE solid;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

pre, code, kbd, samp {
  font-family: "JuliaMono-Regular", "SFMono-Regular", "DejaVu Sans Mono";
  font-variant-ligatures: none;
  font-size: var(--small-size);
  color: #000;
  /* Using !important to override github.min.css settings. */
  background: var(--block-background) !important;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  padding-top: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 4px;
}

pre code {
  /* Without this, padding is only applied to the first line. */
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0.0em;
  margin-bottom: 0.0em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #dbdbdb;

  overflow-x: scroll;
  display: block;
  /* Hide the scroll bar if not used. */
  overflow: auto;
  white-space: pre;
  /* Fine tuned based on max-width. */
  max-width: 640px;
  word-wrap: normal;
}

pre {
}

pre.output {
  background: hsl(0, 0%, 98%) !important;
  border: 1px dashed #dbdbdb;
}

.output code {
  background: hsl(0, 0%, 98%) !important;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul, ol ol {
  margin: .3em 0;
}

dl {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
  margin-bottom: .8em;
}

dd {
  margin: 0 0 .8em 2em;
}

dd:last-child {
  margin-bottom: 0;
}

figure {
  display: block;
  text-align: center;
  margin: 1em 0;
}

figure img {
  border: none;
  /* For detailed images, we need the full width. */
  max-width: 100%;
}


figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 .8em;
}

table {
  margin-top: 0.4em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: .2em 1em;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table td {
  padding: .2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}

.author {
  font-size: 1.2em;
  text-align: center;
}

html {
  text-rendering: optimizeLegibility;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-size: 12pt;
    max-width: 100%;
  }

  a, a:visited {
    text-decoration: underline;
  }

  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page :left {
    margin: 15mm 20mm 15mm 10mm;
}

  @page :right {
    margin: 15mm 10mm 15mm 20mm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}

.license {
  margin-top: auto;
  text-align: center;
  color: var(--gray);
  font-size: var(--small-size);
}

.csl-entry {
  margin-bottom: var(--small-size);
}

kbd {
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  line-height: 10px;
  padding: 4px 4px;
  vertical-align: middle;
}

.footnotes {
  font-size: var(--small-size);
}

.footnotes ol {
  list-style-type: none;
}
